:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* text colors*/
    --txt-cl: #757575;
    --secondary-txt-cl: #212121;
    --accent-cl: #2196F3;
    /*backgrounds color*/
    --main-bg-cl: #E5E5E5;
    --secondary-bg-cl: #2F303A;
}